*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid pink; */

}
/* first nav */
.container1 nav{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
}
.container1 nav ul{
    list-style-type: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.Nigerian{
    display: flex;
    border: 1px solid gray;
    border-radius:1.4rem;
    gap: .3rem;
    padding:.4rem;
    font-size: .8rem;
}
.container1 nav .need__help{
    gap:5rem;
    
}
.cost__calculator  a{
    color:rgb(123,113,131);
    text-decoration:none;
}
.need__help {
    color:rgb(123,113,131);
    font-size: 0.8rem;
}
.need__help li a{
    color: rgb(29,161,242);
    text-decoration: none;
}

/* nav2 */
.printivo{
    background-color:rgb(236,232,217) ;
}
.printivo nav{
    display: flex;
    justify-content:space-around;
    width: 100%;
    padding: 1.5rem;
}
.printivo .printivo__img li{
    list-style-type: none;
}
.printivo .printivo__img img{
    width: 8rem;
}
.printivo .all__product1{
    display: flex;
    gap: 4rem;
}
.printivo .all__product {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.printivo .sign__in {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.printivo .sign__in li {
    list-style-type: none;
}
.printivo .sign__in :nth-child(1) a{
    color: rgb(215,127,129);
    text-decoration: none;
}
.printivo .sign__in :nth-child(2) a{
    text-decoration: none;
    color:rgb(123,113,131);
}

.printivo .all__product a {
    text-decoration: none;
    font-size:1rem;
    color:rgb(123,113,131);
}
.container2{
    display: flex;
    margin-top: 4rem;
    width: 100%;
}
.menu{
    background-color: white;
    visibility: hidden;
    width: 100px;
    padding:1rem;
    margin-left:2rem;
    font-family: sans-serif;
    font-size:1.5rem;
    color:rgb(123,113,131);
}
.quality{
    flex-grow: 1;
    justify-content: center;
    margin-left:3rem;

}
.container2 .quality h1{
    color: rgb(56,74,98);
    font-size:4.5rem;
    font-family:sans-serif;
    font-weight: 400;
}
.container2 .quality .p1{
    color: rgb(112,128,149);
    font-weight: 500;
    font-size:1.8rem;
    padding-bottom:2rem;
}
.container2 .quality .p2{
    color: rgb(56,74,98);
    font-size:1rem;
    font-weight: 700;
    font-weight:bold;
    font-family:sans-serif;
    }

.hand{
    width:28rem;
}
.searchicon{
    background-color: white;
    width:70%;
    height: 5rem;
    display: flex;
}
.searchicon input{
outline: 0;
border: 0;
flex-grow:1;
font-size: 20px;
padding-left: 1rem;
}
.fa-magnifying-glass{
    background-color:white;
    align-self: center;
    padding: 1rem;
    color: rgb(129,140,155);
    cursor: pointer;
}

/* media query */
@media screen and (max-width:940px){
    .img__hand{
        width: 22rem;
    }
    .hand{
        width:22rem;
    }
    .container2{
        margin-top: 0;
    }
    .container2 .quality h1{
        font-size:3rem;
    }
    .quality{ 
        margin-left:2rem;
    
    }
    .menu{
        background-color: white;
        visibility: visible;
        width: 100px;
        padding:1rem;
        margin-left:1rem;
        font-family: sans-serif;
        font-size:1.5rem;
        color:rgb(123,113,131);
    }
}
@media screen and (max-width:800px) {
    .container1 nav .cost__calculator {
        display: none;
    }
    .container1 nav .need__help{
        width:100%;
        display: flex;
        justify-content: space-between;

    }
    .printivo nav{
        /* display: flex; */
        justify-content:space-between;
    }
    .printivo .all__product {
        display: none;
    }
    .printivo .sign__in :nth-child(1) a{
        font-size: 1.1rem;

    }
    .printivo .sign__in :nth-child(2) a{
        display: none;
    }
    .printivo nav{
        padding:0.8rem;
    }
    
    .container2 .quality h1{
        font-size:3rem;

    }
    .quality{
        margin-left:1rem;
    
    }
    .container2 .quality .p1{
        font-weight: 400;
        font-size:1.5rem;
        padding: 1rem;
    } 
    .searchicon{
        width:70%;

}
@media screen and (max-width:640px){
    .need__help1 span{
        display: none;
    }
    .container1 nav ul{
        padding:0 15px;
    }
    .container1 nav .need__help{
        gap:1rem;
    }
    .Nigerian{
        border-radius:1rem;
        gap: .4rem;
        padding:.4rem;
        font-size: .8rem;
            }
    .img__hand{
        display: none;
        /* width: 22rem; */
    }
    
    }
    .searchicon input{
        width: 70%;
        font-size:15px;
        padding-left: 1rem;
        }

    .fa-magnifying-glass{
        padding:1rem;
        color: rgb(129,140,155);
        cursor: pointer;
    }
    .container2 .quality .p2{
        font-size:1rem;
        font-weight: 500;
        padding-top:5rem;
        }
}

@media screen and (max-width:475px){
    
    .container1 nav ul{
        padding:0 25px;
    }

    .printivo .sign__in {
        gap: 1rem;
    }
    .searchicon{
        font-size:1.5rem;
        width:244px;

    }
}